html {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02em;
  background-color: #000614;
}
body {
  color: #FFFFFF;
  margin: 0px 0px 0 0px;
  position: relative;
}
section.delays,
section.boarding,
section.onboard,
section.scatter {
  margin: 40px 40px 150px 40px;
}
section.onboard {
  margin-top: -100px;
}
section.intro {
  background-image: url("img/plane.png");
  background-repeat: no-repeat;
  background-position: 130px;
  background-size: 400px;
  background-color: white;
  margin: 0;
  height: 650px;
  padding-left: 40px;
  padding-right: 40px;
}
section.findings {
  background-image: url("img/plane.png");
  background-repeat: no-repeat;
  background-position: 130px;
  background-size: 400px;
  background-color: white;
  margin: 0;
  height: 650px;
  padding-left: 40px;
  padding-right: 40px;
}
h1 {
  margin: 0;
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
}
h1.title {
  font-size: 60px;
  text-align: center;
  text-transform: none;
  font-family: 'Sorts Mill Goudy', 'serif';
  color: #000614;
  padding-top: 120px;
  letter-spacing: 0.03em;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
h3.intro {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #000614;
  text-align: center;
  padding: 0px 250px 0px 250px;
}
p {
  font-size: 14px;
  letter-spacing: 0.02em;
}
p.intro {
  color: #000614;
  font-weight: 300;
  text-align: center;
}
a {
  font-weight: 500;
  color: #000614;
}
ul.scroll {
  list-style-type: none;
  display: block;
  overflow: hidden;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
ul.scroll li {
  height: 20px;
}
ul.scroll li::before {
  content: "\2022";
  font-size: 25px;
}
ul.scroll li.active::before {
  color: #FFFFFF;
}
ul.scroll li.activeWhite::before {
  color: #333843;
}
ul.scroll li.inactive::before {
  color: #4d515b;
}
ul.scroll li.inactiveWhite::before {
  color: #b3b4b9;
}
ul.filter {
  list-style-type: none;
  margin: 0;
  padding: 40px 0 25px 0;
  display: inline-block;
  overflow: hidden;
}
ul.filter li {
  float: left;
  margin: 0 3px 0 3px;
}
ul.filter li a {
  text-align: center;
  padding: 10px 30px;
  color: #4d515b;
  text-decoration: none;
  display: block;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #4d515b;
}
ul.filter li a.active {
  border-top-color: #FFFFFF !important;
  color: #FFFFFF !important;
}
ul.filter li a:hover {
  transition: color 1s ease, border-top-color 1s ease;
  color: #c5c6c9;
  border-top-color: #c5c6c9;
}
div.container {
  margin: 0px 0px 50px 0px;
  width: 100%;
  text-align: center;
}
div.center {
  display: inline-block;
}
table.by-airline {
  width: 100%;
}
table.by-airline td.sidebar-filter-cell {
  width: 30%;
}
table.by-airline td.sidebar-filter-cell ul {
  line-height: 200%;
  list-style: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}
table.by-airline td.sidebar-filter-cell li.instruction {
  font-weight: 300;
  color: #FFFFFF;
}
table.by-airline td.sidebar-filter-cell li a {
  color: #4d515b;
  text-decoration: none;
  font-weight: 700;
}
table.by-airline td.sidebar-filter-cell li a.active {
  color: #FFFFFF !important;
}
table.by-airline td.sidebar-filter-cell li a:hover {
  transition: color 0.5s ease;
  color: #FFFFFF;
}
/**
Boarding formatting
 */
section.boarding table.org-filter {
  padding: 0 50px 0 50px;
  max-width: 1000px;
}
section.boarding table.org-filter .desc {
  margin-bottom: 10px;
  display: none;
  height: 250px;
  text-align: left;
  padding-right: 50px;
}
section.boarding table.org-filter .desc.active {
  transition: display 0.5s ease;
  display: block !important;
}
section.boarding table.org-filter .desc .org-chart-container {
  vertical-align: middle;
}
section.boarding table.org-filter table.org-chart {
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 5px;
  color: #000614;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
section.boarding table.org-filter table.org-chart td {
  vertical-align: middle;
  background-color: #4d515b;
  padding: 8px;
  font-size: 14px;
  transition: background-color 0.75s ease;
}
section.boarding table.org-filter table.org-chart td:hover {
  transition: background-color 0.75s ease;
  background-color: #c5c6c9;
}
section.boarding table.org-filter table.org-chart td.active {
  background-color: #FFFFFF;
}
section.boarding table.org-filter table.org-chart .involuntary,
section.boarding table.org-filter table.org-chart .voluntary {
  width: 50%;
}
section.boarding table.org-filter table.org-chart .compensated,
section.boarding table.org-filter table.org-chart .not-compensated {
  width: 25%;
}
section.boarding table.org-filter table.by-airline td {
  width: 50%;
}
/**
SVG FORMATTING
 */
.bargraph .bar.green {
  transition: fill 0.5s ease;
  fill: #07ada8;
}
.bargraph .bar.red {
  transition: fill 0.5s ease;
  fill: #ef3030;
}
.bargraph text.avg {
  font-size: 12px;
  fill: #999999;
  font-weight: 500;
}
.bargraph text.axis-label {
  font-size: 16px;
  font-weight: 500;
}
.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
}
.bar-label {
  font-size: 14px;
  font-weight: 100;
}
.x {
  stroke: #ffffff;
  font-size: 15px;
}
.y {
  stroke: #ffffff;
  font-size: 15px;
}
.y text {
  stroke-width: 0;
  fill: #FFFFFF;
}
text {
  font-family: 'Open Sans', 'serif';
  stroke-width: 0;
  fill: #FFFFFF;
}
